
[Unit]
Description=MariaDB 10.6.22 database server (socket activation)
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/

[Socket]

##############################################################################
## USERs can override
##
##
## by creating a file in /etc/systemd/system/mariadb.socket.d/MY_SPECIAL.conf
## and adding/setting the following under [Socket] will override this file's
## settings.

SocketUser=mysql
SocketMode=777

ListenStream=@mariadb
ListenStream=/app/mariadb/tmp/mysql.sock
ListenStream=3306

[install]
WantedBy=sockets.target



# Backlog=150
