######################################
# Connectome 설치 공통 설정
######################################

# install PATH
INSTALL_HOME=/app/Accessories/install

# resource PATH
RESOURCE_DIR="$(INSTALL_HOME)/resource"

# logfile PATH
LOG_FILE=/app/Accessories/install/connectome_install.log

# system user
INSTALL_USER=conse

# Kibana version
KIBANA_VERSION=7.17.21

# Elasticsearch version check
ES_VERSION_FILE=${INSTALL_HOME}/config/es_version

# crontab file location
CRONTAB_MANAGER=${INSTALL_HOME}/resource/cron.tab
CRONTAB_SCALAR=${INSTALL_HOME}/resource/cron.tab.s

# kafka service file
ZOOKEEPER_UNIT=${INSTALL_HOME}/resource/zookeeper-service.service
KAFKA_UNIT=${INSTALL_HOME}/resource/kafka-server.service

# rc.local AND .profile File
RC_LOCAL_MANAGER=${INSTALL_HOME}/resource/rc.local.manager
RC_LOCAL_SCALAR=${INSTALL_HOME}/resource/rc.local.scalar
RC_LOCAL_ALLINONE=${INSTALL_HOME}/resource/rc.local.allinone
PROFILE_MANAGER=${INSTALL_HOME}/resource/.profile.manager
PROFILE_ALLINONE=${INSTALL_HOME}/resource/.profile.allinone
